* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arialw, Helvetica, sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  //border: 1px red dashed;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.header {
  display: grid;
  position: static;
  grid-template-columns: auto 10px 1fr auto 10px;
  height: 3rem;
  width: 100%;
}

.video {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.video #video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tabs {
  display: grid;
  grid-template-rows: 3rem 1fr;
  height: 100%;
}

.tabs .switch {
  display: grid;
  grid-template-columns: auto auto;
}

.tabs .switch .switchx {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 1px;
  padding: 3px;
}

.tabs .tab {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.tab > * {
  scroll-snap-align: start;
}

.tabs .tab .tab-chat {
  display: grid;
  grid-template-rows: 1fr auto;
}

.tabs .tab .tab-chat .chat-messages {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.tabs .tab .tab-chat .chat-messages .messages {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.tab .tab-chat .chat-typingbox {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0 1rem;
  padding-bottom: calc(env(keyboard-inset-height, 0) + 1rem);
  
}

.tab #tab-chat .chat-typingbox .chat-typingbox-input {
  
  flex: 1;
  font-size: 1rem;
  font-variant: none;
  text-transform: none;
  resize: none;
  outline: none;
  min-height: 2.6rem;
  max-height: 5rem;
  padding-right: 6rem;
  padding-left: 1rem;
  padding-top: 0.7rem; 
  padding-bottom: 0.7rem;
  border: 1px red solid;
  border-radius: 1rem;
  box-sizing: border-box;
  vertical-align: middle;
}

.tab #tab-chat .chat-typingbox .chat-typingbox-send {
  user-select: none;
  display: flex;
  position: absolute;
  right: 1.5rem;
  bottom: 1.35rem;
  height: 2rem;
  border-radius: 50%;
  background: none;
  
} 